{% load static %}
<!doctype HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Funny-Bunny Gallery</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/photos/">Funny-Bunny Gallery</a>
      <a id="about" href="/index.html">Tag Along!</a>
    </div>
  </nav>

  <!--Main Content-->
  <div class="parallax"></div>

  <div class="bg-text">
    <h1>Funny-Bunny</h1>
    <p>Gallery</p>
  </div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
