<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{%block styles%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{%endblock%}

<body>
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
        FUNNY-BUNNY PHOTOGRAPHY

      </div>
      <div>
       <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Locations</a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             {% for location in locations %}
               <a class="dropdown-item" href="{% url 'showLocation' location.id%}">{{location.name}}</a>
             {% endfor %}
           </div>
         </li>
       </ul>

   </div>
   <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
     <input class="form-control mr-sm-2" type="text" placeholder="Search Topic" aria-label="Search" name='topic'>
     <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
   </form>
    </nav>

  </header>
</body>

</html>
