{% extends 'base.html' %}
{% block content %}
<div class="container">


    {% if photo %}
    <h2>Found {{ photo|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found {{message}}</h2>
    {% endif %}

  </div>

  <div class="row" style="margin-right: 0px; overflow:hidden;" >


    {% for photo in photos %}
    <div class="col-md-4">
      <img style=" width:100%; margin: 20px;" src="{{photo.photo.url}}" class="card-img-top img-fluid" alt="photo" data-toggle="modal" data-target="#{{photo.id}}">
      <!-- Image Details modal -->

      <div class="modal fade bd-example-modal-lg" id="{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
        <div style="width:30%; max-height:50%; padding-top:100px;" class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="photoTitle">{{photo.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{photo.photo.url}}" class="img-fluid" alt="Image" style="width:100%">
              <br>
              {{photo.description}}
            </div>
            <div class="modal-footer">
              <input class="form-control input-lg" type="text" value="https://gallery-django.herokuapp.com{{photo.photo.url}}" id="{{photo.id}}-url">
              <button align="center" class="btn  btn-outline-info" onclick="copyUrl('{{photo.id}}-url')">Copy Image Url</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        function copyUrl(element) {
          var myVar = document.getElementById(element)
          myVar.select();
          document.execCommand('copy')
        }
      </script>
      {% endfor %}

    </div>
  </div>

  {% endblock %}
